body{
    margin:0;
    padding:0;
    background: #dabfff;
}
.name {
    width: 100%;
    height: 300px;
    background: #907ad6;
    transform: skewY(+4deg);
}

.name .contenido {
    width: 50%;
    height: 50%;
    position: absolute;
    left:25%;
}

.name .contenido .p-1 {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    font-size: 40px;
    transform: skewY(-4deg);
    margin-bottom: 0;
}

.name .contenido .p-2 {
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: bolder;
    font-size: 20px;
    transform: skewY(-4deg);
    margin-top: 5;
margin-bottom: 0;
}

.name img {
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    height: 18px;
    border-radius: 100%;
    transform: skewY(+4deg);
    overflow: hidden;
}

.name .img img {
    width: 120px;
    height: 230px;
}
.info {
    width: 90%;
    height: auto;
    background: #907ad6;
    margin:10% auto;
    padding: 20px;
}

.info .tituloinfo1 {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 2px black solid;
}

.info .tituloinfo2 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    display: inline;
    margin-right:20px;
}

.info .infoinfo {
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
    display: inline;
}
